<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Column Drop</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style_columndrop%20copy.css">
    <meta name="viewport" content="width=device-width, initial scale=1">
    </head>
    <body>
        <div class="parent">
        <div class="box1">
            
            </div>
            <div class="box2">
            
            </div>
            <div class="box3">
            
            </div>
        </div>
    </body>
</html>