.parent{
    display: flex;
    flex-wrap: wrap;
}
.box1, .box2, .box3, .box4, .box5, .box6{
   height: 50px;
    width: 100%;
}


.box1{
    background-color:bisque;
    flex-grow: 1;
}
.box2{
    background-color: #f9ccac;
    flex-grow: 1;
}
.box3{
    background-color: #f4a688;
    flex-grow: 1;
}
.box4{
    background-color: #e0876a;
    flex-grow: 1;
}
.box5{
    background-color: #d96459;
    flex-grow: 1;
}
@media screen and (max-width:401px){
    .box1, .box2, .box3, .box4, .box5{
        width:100%;
        height:20vh;
    }
}
    @media screen and (min-width:401px) and (max-width:800px){
        .parent {
        
            flex-direction: row;
        }
        .box1{
            height:50vh;
            width:100%;
        }
        .box2, .box3{
            height:40vh;
            width:50%;
            flex-direction: row;
        }
        .box4, .box5{
            height:10vh;
            width:50%;
            flex-direction: row;
        }
    }
    @media screen and (min-width:800px) and (max-width:1200px)
    {
        .parent{
            flex-direction: row;
           margin-left: 10%;
            width:80%;
            
        }
        .box1{
            width:60%;
            height: 50vh;
            
        }
        .box2{
            width:40%;
            height:50vh;
          
            
        }
        .box3, .box5{
            width:33%;
            height:50vh;
          
        }
        .box4{
            width:34%;
            height: 50vh;
           
        }
        
    }
@media screen and (min-width:1200px){
    .parent{
            flex-direction: row;
           margin-left: 20%;
            width:60%;
            
        }
        .box1{
            width:60%;
            height: 50vh;
            
        }
        .box2{
            width:40%;
            height:50vh;
          
            
        }
        .box3, .box5{
            width:33%;
            height:50vh;
          
        }
        .box4{
            width:34%;
            height: 50vh;
           
        }
        
    }
}
}